extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="logo.png", class="company-logo", width="50%", height="50%")
  p This is a Node Application that has been containerized with Docker!
  p Version: 1.1
  
